/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f7f7f7;
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header */
header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav li {
    margin: 0 10px;
}

nav a {
    font-weight: bold;
}

h1 {
    margin-top: 30px;
    font-size: 36px;
}

p {
    margin-bottom: 30px;
    font-size: 18px;
}

a[href='#'] {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #00bcd4;
    color: #fff;
    font-weight: bold;
}

a[href='#']:hover {
    background-color: #0097a7;
}

/* Services */
.services {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
}

.services h2 {
    font-size: 32px;
    margin-bottom: 50px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.service img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.service h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service p {
    font-size: 18px;
    line-height: 1.5;
}

/* Appointment */
.appointment {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.appointment h2 {
    font-size: 32px;
    margin-bottom: 50px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

input,
select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

input[type='submit'] {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #00bcd4;
    color: #fff;
    font-weight: bold;
    border: none;
}

input[type='submit']:hover {
    background-color: #0097a7;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 18px;
}
