*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
color: #fff;
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%),url(gate2.jpg);
background-size: 100%;
background-repeat: no-repeat;
}

.container{
max-width: 700px;
width: 100%;
padding: 25px 30px;
border-radius: 25px;
background: linear-gradient(135deg,skyblue,purple);
}
.container .heading{
font-size: 25px;
font-weight: 500;
position: relative;
text-align: center;
padding: 0 0 20px 0;
}
.container .heading::before{
content: '';
position: absolute;
height: 3px;
left: 0;
bottom: 0;
width: 100%;
background: linear-gradient(135deg, #71b7e6, #9b5b);
}
.card-box input{
                       margin-top: 20px;
                       position: relative;
                       right: 0;
                       font-size: 22px;
                       margin: 10px;
                       outline: none;
                       margin-left: 64px;
                       border: none;
}
fieldset{
                       width: 400px;
                       height: 400px;
}
.button input{
                       width: 100%;
                       height: 40px;
                       font-size: 20px;
                       background: darkkhaki;
                       border: none;
                       transition: 0.8s;
}
.button input:hover{
                       width: 100%;
                       height: 40px;
                       font-size: 20px;
                       background: rgb(72, 72, 43);
                       border: none;
                       color: #fff;
}
::placeholder{
                       color: darkkhaki;
}
.card-box input::placeholder{
                       color: darkkhaki;
}
.hello{
                       position: absolute;
                       top: 0;
                       left: 10px;
}
h3{
                       margin-left: 25px;
}
button {
                       background: rgb(223, 223, 215);
                       margin-top: 200px;
                       position: absolute;
                       left: 40px;
                       border: none;
                       width: 200px;
                       height: 50px;
                       font-size: 22px;
                       transition: 0.8s;
}
button:hover{
                       background: rgb(39, 39, 23);
                       color: #fff;
}